	/*Color Pallete: 
		ECU Logo: 	#DD3810
		Navy: 		#475c6c
		Grey: 		#8a8583
		Yellow: 	#eed7a1
		Tan: 		#f7efd2
		Rust:		#cd8b62  */

/* Headers */

h1 {
font-family: Courier
font-size: 30px;
color: #cd8b62;
text-align: center
}

h2 {
font-family: Courier
font-size: 20px;
color: #475c6c;
font-weight: auto
text-align: center
}

.h2:hover {
	box-shadow: 0 5px 15px #cd8b62;	
	background-color: rgb(238, 215, 161, .8);
}


/* Body & Text Content */
body {
font-size: 15px;
font-family: Courier;
background-color: #f7efd2;
}

p{
font-family: Courier;
font-size: auto
}

b {
font-family: Courier;
color: #475c6c;
}

i {
font-family: Courier;
color: #cd8b62;
}

u{
font-family: Courier;
color: #cd8b62;
}

li {
font-size: 20px;
font-family: Courier;
color: #475c6c;
}


/* Links */

a:link {
color: blue;
font-size: auto
}

a:hover {
background-color: #eed7a1;
font-size: auto
}

a:visited {
color: purple
font-size: auto
}


/* Containers */

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "grid-1 grid-1 grid-2 grid-2"
    "grid-3 grid-3 grid-4 grid-4"
    "grid-5 grid-5 grid-5 grid-5";
	grid-column-gap: 2%;
	grid-row-gap: 2%; 
	}

.grid {
	border-style: solid;
	border-width: 1px;
	border-color: #cd8b62;
	padding: 5%;
	background-color: rgb(238, 215, 161, .4);
	box-shadow: 0 1px 2px #cd8b62;
  	transition: box-shadow 0.3s ease-in-out;
}

.grid:hover{
	box-shadow: 0 5px 15px #cd8b62;	
	background-color: rgb(238, 215, 161, .8);
}

.grid-1 {
	grid-area: grid-1;
	}

.grid-2 {
	grid-area: grid-2;
	}

.grid-3 {
	grid-area: grid-3;
	}

.grid-4 {
	grid-area: grid-4;
	}
	
.grid-5 {
	grid-area: grid-5;
}

/* Buttons */
.button {

  appearance: button;
  background-color: #475c6c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: din-round,sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 5%;
  padding: 1px 1px;
  text-align: center;
  text-transform: uppercase;
  transition: filter .2s;
  user-select: none;
  white-space: nowrap;
  width: 25%;
}


.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

